#{extends 'main.html' /}
#{set title:'Seeker detail' /}

    <h2 class="post-title">
        <a href="@{SeekHelpController.seekerPostShowDetail(post.id)}">${post.title}</a>
    </h2>
    
    <h4 class="mate-applied">
        Mate Applied to Help: ${post.mateApplied}
        <br/>
        Total Mate Required to Help: ${post.matesRequired}
    </h4>
    
    #{if post.status == "open" && session.get("userType") == "mate"}
    #{form @GiveHelpController.mateIncrementer1(), enctype:'multipart/form-data'}
    <input type="hidden"  value ='${post.id}' name = "postId"/>
    <input type="submit" value="I want to Help" />
    #{/form}
    #{/if}
     #{form @GiveHelpController.mateRevokeHelp(), enctype:'multipart/form-data'}
    <input type="hidden"  value ='${post.id}' name = "postId"/>
    <input type="submit" value="I want to Revoke Help" />
    #{/form}
    <div class="post-metadata">
        <span class="post-author">by ${post.seeker}</span>,
        <span class="post-date">${post.postdate.format('dd MMM yy')}</span>
    </div>
    
        <div class="post-content">
            <div class="about">Detail: </div>
            ${post.post.nl2br()}
        </div>
        
    #{form @SeekHelpController.postComment(post.id)}
	#{ifErrors}
		<p class="error">
			All fields required!
		</p>
	#{/ifErrors}
    
    <p>
        <label for="author">Your name: </label>
        ${session.get("userName")}
    </p>
     
    
    <p>
        <label for="content">Your message: </label>
        <textarea name="content" id="content">${params.content}</textarea>
    </p>
    <p>
        <input type="submit" value="Submit your comment" />
    </p>
	#{/form}
     
    <div class="comments">
        <h3>
            { ${post.comments.size() ?: 'no'}
            comment${post.comments.size().pluralize()}}
        </h3>
        
        #{list items:post.comments, as:'comment'}
            <div class="comment">
                <div class="comment-metadata">
                    <span class="comment-author">
                    #{if comment.who=="seeker"}
                    	by  ${comment.authorSeeker.firstName} ,	
                    #{/if}
                    #{if comment.who=="mate"}
                    	by  ${comment.authorMate.firstName} ,	
                    #{/if}
                    </span>
                    <span class="comment-date">
                         ${comment.postedAt.format('dd MMM yy')} 
                    </span>
                </div>
                <div class="comment-content">
                    <div class="about">Detail: </div>
                     ${comment.content.escape().nl2br()}
                </div>
            </div>
         #{/list}
        
    </div>
     