#{extends 'main.html' /}
#{set title:'SeekHelp' /}


<div class="section">
<div class="container">
<div class="login" style="width:300px;">
<form id="seekHelpRedirForm1" action="/SeekHelpController/seekHelpRedir" enctype="multipart/form-data" >    
  
    <div id='seekHelpRedirForm_location_errorloc1'  style="color: red;" class='error_strings'>
    </div>
    Location:<br>
    <!-- <input type="text" name="location" value=""/> -->    
    <select name = "location">
	        <option value="" selected>Select </option>
	        <option value="Dhaka">Dhaka</option>							
			<option value="Chittagong">Chittagong</option>										
			<option value="Rajshahi">Rajshahi</option>										
			<option value="Sylhet">Sylhet</option>										
			<option value="Khulna">Khulna</option>										
			<option value="Rangpur">Rangpur</option>										
			<option value="Faridpur">Faridpur</option>										
			<option value="Gazipur">Gazipur</option>										
			<option value="Gopalganj">Gopalganj</option>										
			<option value="Jamalpur">Jamalpur</option>										
			<option value="Kishoreganj">Kishoreganj</option>										
			<option value="Madaripur">Madaripur</option>										
			<option value="Manikganj">Manikganj</option>										
			<option value="Munshiganj">Munshiganj</option>										
			<option value="Mymensingh">Mymensingh</option>										
			<option value="Narayanganj">Narayanganj</option>										
			<option value="Narsingdi">Narsingdi</option>										
			<option value="Netrokona">Netrokona</option>										
			<option value="Rajbari">Rajbari</option>										
			<option value="Shariatpur">Shariatpur</option>										
			<option value="Sherpur">Sherpur</option>										
			<option value="Tangail">Tangail</option>										
			<option value="Bogra">Bogra</option>										
			<option value="Joypurhat">Joypurhat</option>										
			<option value="Naogaon">Naogaon</option>										
			<option value="Natore">Natore</option>										
			<option value="ChapaiNawabganj">ChapaiNawabganj</option>										
			<option value="Pabna">Pabna</option>										
			<option value="Sirajgonj">Sirajgonj</option>										
			<option value="Dinajpur">Dinajpur</option>										
			<option value="Gaibandha">Gaibandha</option>										
			<option value="Kurigram">Kurigram</option>										
			<option value="Lalmonirha">Lalmonirha</option>										
			<option value="Nilphamari">Nilphamari</option>										
			<option value="Panchagarh">Panchagarh</option>										
			<option value="Thakurgaon">Thakurgaon</option>										
			<option value="Barguna">Barguna</option>										
			<option value="Barisal">Barisal</option>										
			<option value="Bhola">Bhola</option>										
			<option value="Jhalokati">Jhalokati</option>										
			<option value="Patuakhali">Patuakhali</option>										
			<option value="Pirojpur">Pirojpur</option>										
			<option value="Bandarban">Bandarban</option>										
			<option value="Brahmanbaria">Brahmanbaria</option>										
			<option value="Chandpur">Chandpur</option>										
			<option value="Comilla">Comilla</option>										
			<option value="CoxBazar">CoxBazar</option>										
			<option value="Feni">Feni</option>										
			<option value="Khagrachari">Khagrachari</option>										
			<option value="Lakshmipur">Lakshmipur</option>										
			<option value="Noakhali">Noakhali</option>										
			<option value="Rangamati">Rangamati</option>										
			<option value="Habiganj">Habiganj</option>										
			<option value="Maulvibazar">Maulvibazar</option>										
			<option value="Sunamganj">Sunamganj</option>										
			<option value="Bagerhat">Bagerhat</option>										
			<option value="Chuadanga">Chuadanga</option>										
			<option value="Jessore">Jessore</option>										
			<option value="Jhenaidah">Jhenaidah</option>										
			<option value="Kushtia">Kushtia</option>										
			<option value="Magura">Magura</option>										
			<option value="Meherpur">Meherpur</option>										
			<option value="Narail">Narail</option>										
			<option value="Satkhira">Satkhira</option>
      </select>
    <br>
    
    
    Date:<br>
    <input type="text" id="datepicker" name="searchDateS" value="" class="form-control"/>
    <br>
    
    
    Start Time:<br>
    <input type="text"  name="timeStart" id="timeStartSearch" class="form-control"/>
    <br>

      
    End Time:<br>
    <input type="text"  name="timeEnd" id="timeEndSearch" class="form-control"/>
    <br>    

    <input class="form-control"" type="submit" value="Search!" />
</form>
</div>

<div class="login" style="width:300px;clear:right;">
#{if session.get("userType") == "seeker"}
<form id="seekHelpRedirForm" action="/SeekHelpController/seekHelp" enctype="multipart/form-data" >

  <div id='seekHelpRedirForm_seeker_errorloc' style="color: red;" class='error_strings'>    
  </div>
  <label for="seeker">Seeker Name:</label>
  <input class="form-control"  type="text" name="seeker" value='${session.get("userName")}' readonly />
  <br>
  
  <div id='seekHelpRedirForm_postDate_errorloc' style="color: red;" class='error_strings'>    
  </div>
  <label for="postDate">Date:</label>
  <input class="form-control"  type="text" name="postDate" id="datepicker_1" value="" />
  <br>
  
  <div id='seekHelpRedirForm_timeStart_errorloc' style="color: red;" class='error_strings'>    
  </div>
  <label for="timeStart">Start time:</label>
  <input class="form-control"  type="text" name="timeStart" id="timeStart" value="" />
  <br>
  
 <div id='seekHelpRedirForm_timeEnd_errorloc' style="color: red;" class='error_strings'>   
 </div>  
  
  <label for="timeEnd">End time:</label>
  <input class="form-control"  type="text" name="timeEnd" id="timeEnd" value="" />
  <br>
   
 <div id='seekHelpRedirForm_location_errorloc' style="color: red;" class='error_strings'>
 </div>
 <label for="location">Location:</label>
 <!-- <input class="form-control"  type="text" name="location" value="" /> -->
 <select name = "location">
	        <option value="0" selected>Select </option>
	        <option value="Dhaka">Dhaka</option>							
			<option value="Chittagong">Chittagong</option>										
			<option value="Rajshahi">Rajshahi</option>										
			<option value="Sylhet">Sylhet</option>										
			<option value="Khulna">Khulna</option>										
			<option value="Rangpur">Rangpur</option>										
			<option value="Faridpur">Faridpur</option>										
			<option value="Gazipur">Gazipur</option>										
			<option value="Gopalganj">Gopalganj</option>										
			<option value="Jamalpur">Jamalpur</option>										
			<option value="Kishoreganj">Kishoreganj</option>										
			<option value="Madaripur">Madaripur</option>										
			<option value="Manikganj">Manikganj</option>										
			<option value="Munshiganj">Munshiganj</option>										
			<option value="Mymensingh">Mymensingh</option>										
			<option value="Narayanganj">Narayanganj</option>										
			<option value="Narsingdi">Narsingdi</option>										
			<option value="Netrokona">Netrokona</option>										
			<option value="Rajbari">Rajbari</option>										
			<option value="Shariatpur">Shariatpur</option>										
			<option value="Sherpur">Sherpur</option>										
			<option value="Tangail">Tangail</option>										
			<option value="Bogra">Bogra</option>										
			<option value="Joypurhat">Joypurhat</option>										
			<option value="Naogaon">Naogaon</option>										
			<option value="Natore">Natore</option>										
			<option value="ChapaiNawabganj">ChapaiNawabganj</option>										
			<option value="Pabna">Pabna</option>										
			<option value="Sirajgonj">Sirajgonj</option>										
			<option value="Dinajpur">Dinajpur</option>										
			<option value="Gaibandha">Gaibandha</option>										
			<option value="Kurigram">Kurigram</option>										
			<option value="Lalmonirha">Lalmonirha</option>										
			<option value="Nilphamari">Nilphamari</option>										
			<option value="Panchagarh">Panchagarh</option>										
			<option value="Thakurgaon">Thakurgaon</option>										
			<option value="Barguna">Barguna</option>										
			<option value="Barisal">Barisal</option>										
			<option value="Bhola">Bhola</option>										
			<option value="Jhalokati">Jhalokati</option>										
			<option value="Patuakhali">Patuakhali</option>										
			<option value="Pirojpur">Pirojpur</option>										
			<option value="Bandarban">Bandarban</option>										
			<option value="Brahmanbaria">Brahmanbaria</option>										
			<option value="Chandpur">Chandpur</option>										
			<option value="Comilla">Comilla</option>										
			<option value="CoxBazar">CoxBazar</option>										
			<option value="Feni">Feni</option>										
			<option value="Khagrachari">Khagrachari</option>										
			<option value="Lakshmipur">Lakshmipur</option>										
			<option value="Noakhali">Noakhali</option>										
			<option value="Rangamati">Rangamati</option>										
			<option value="Habiganj">Habiganj</option>										
			<option value="Maulvibazar">Maulvibazar</option>										
			<option value="Sunamganj">Sunamganj</option>										
			<option value="Bagerhat">Bagerhat</option>										
			<option value="Chuadanga">Chuadanga</option>										
			<option value="Jessore">Jessore</option>										
			<option value="Jhenaidah">Jhenaidah</option>										
			<option value="Kushtia">Kushtia</option>										
			<option value="Magura">Magura</option>										
			<option value="Meherpur">Meherpur</option>										
			<option value="Narail">Narail</option>										
			<option value="Satkhira">Satkhira</option>
      </select>
  <br>
  
 <div id='seekHelpRedirForm_matesRequired_errorloc' style="color: red;" class='error_strings'> 
</div>
  <label for="matesRequired">Number of mates:</label>
  <input class="form-control"  type="number" name="matesRequired" min=1 />
  <br>
  
   <div id='seekHelpRedirForm_title_errorloc' style="color: red;" class='error_strings'>
  </div>
  <label for="title">Title:</label>
  <input class="form-control"  type="text" name="title" value="" />
  <br>
  
  
  <div id='seekHelpRedirForm_post_errorloc' style="color: red;" class='error_strings'>  
  </div>  
  <label for="post">Message:</label>
  <textarea class="form-control"  name="post"  style="height: 81px; width: 260px; ">    
  </textarea>
  <br> 
  
  <div class="form-group">
    <input type="submit" class="form-control"  value="Save" />
  </div>
  
</form>
#{/if}


#{else}
<form id="seekHelpRedirForm" action="/SeekHelpController/seekHelp" enctype="multipart/form-data" >
<h2 style="color:red;">Posting for Seeker only.</h2>
</form>
#{/else}
</div>


#{list items:seekHelpPost, as:'p'}
	<div class="container seek">
		<div class="post">	  
		  <table id="seekHelpPostTable" class="table table-hover" width="600">
		    <thead><th colspan="6"><h3>Help Available For:</h3></th></thead>

		    <tr>
		      <td width="120"><h4>Title:</h4></td><td colspan="5"><h4><a href="@{GiveHelpController.matePostShowDetail(p.id)}">${p.title}</a></h4></td>
		    </tr>
		    <tr>  		        
		      <td>Seeker Applied:</td><td colspan="2" width="100"><b>${p.seekersApplied}</b></td>
		      <td width="120">Seeker Required:</td><td colspan="2" width="200"><b>${p.seekersRequired}</b></td>
		    </tr>
		    <tr>
		      <td colspan="3" align="right"><h4>Date:</h4></td><td colspan="3"><h4>${p.postdate.format('MM/dd/yyyy')}</h4></td>
		    </tr>
		    <tr>
		      <td>Start Time:</td><td width="100"><b>${p.timeStart}</b></td><td width="50">to</td><td width="120"><b>${p.timeEnd}</b></td>
		      <td width="100">Location:</td><td width="100"><b>${p.location}</b></td>
		    </tr>
		    <tr>
		      <td><b>Post:</b></td><td colspan="3">${p.post}</td>
		      <td width="100">Posted By:</td><td width="100"><b>${p.postedBy.userMate.id}<a href="@{ProfileController.profileView(p.postedBy.userMate.id)}">${p.postedBy.userMate.firstName}</a></b></td>
		    </tr>
		    
		  </table>
		</div>
		#{/list}
	  </div>	  

</div></div>


<script language="JavaScript" type="text/javascript">
$('#timeStartSearch').timepicker({ 'timeFormat': 'H:i:s' });
$('#timeEndSearch').timepicker({ 'timeFormat': 'H:i:s' });
//start time and end time validation for search form starts
$('#seekHelpRedirForm1').submit(function(event){
	 var strtTm=$('#timeStartSearch').val();
	 var endTm=$('#timeEndSearch').val();
	// you can search with only end time or start time, but if you give both start time and end time, then end time
	 //should be greater than start time 
	 if(endTm!="" && strtTm!="" && endTm<=strtTm){
	 	alert("End time should be greater than Start time");
	 	event.preventDefault();
		return false;
	 }
	 
});
//start time and end time validation for search form ends
$('#timeStart').timepicker({ 'timeFormat': 'H:i:s' });
$('#timeEnd').timepicker({ 'timeFormat': 'H:i:s' });
// $('#timeEnd').on('changeTime', function() {
//     var strtTm=$('#timeStart').val();
//     var endTm=$('#timeEnd').val();
//     if(endTm<=strtTm){
//     	alert("End time should be greater than Start time");
//     }
// });
$('#seekHelpRedirForm').submit(function(event){
	 var strtTm=$('#timeStart').val();
	 var endTm=$('#timeEnd').val();
	 if(endTm<=strtTm){
	 	alert("End time should be greater than Start time");
	 	event.preventDefault();
		return false;
	 }
	 
});
  var frmvalidator  = new Validator("seekHelpRedirForm");
  frmvalidator.EnableOnPageErrorDisplay();
  frmvalidator.EnableMsgsTogether();
 
  frmvalidator.addValidation("seeker","req","Please enter your  Name");
  frmvalidator.addValidation("seeker","maxlen=50","For Name, Max length is 50");
  
  frmvalidator.addValidation("postDate","req","Please enter Date");
  
  frmvalidator.addValidation("timeStart","req","Please enter start time");
  
  frmvalidator.addValidation("timeEnd","req","Please enter end time");
 
  //frmvalidator.addValidation("location","req","Please enter location");
  frmvalidator.addValidation("location","dontselect=0");
  
  frmvalidator.addValidation("matesRequired","req","Please enter number of mates you required");
  frmvalidator.addValidation("matesRequired","maxlen=50");
  frmvalidator.addValidation("matesRequired","numeric"); 
  
  frmvalidator.addValidation("title","req","Please enter title");
  
  frmvalidator.addValidation("post","req","Please enter your  message");
  frmvalidator.addValidation("post","maxlen=1000");
  
</script>