#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container">
		<table class="table table-hover">
		  <thead>
		    <tr>  	
		      <th>Title</th>     
		      <th>Date</th>
		      <th>location</th>
		      <th>mateApplied</th>
		      <th>matesRequired</th>		      
		      <th>post</th> 
		      <th>seeker</th>
		      <th>timeEnd</th>
		      <th>timeStart</th>
		    
		      
		    </tr>
		  </thead>
		  <tbody id="giveHelpPostTable">
		    #{list items:giveHelpPost, as:'p'}
		    <tr>
		      <td><a href="@{SeekHelpController.seekerPostShowDetail(p.id)}">${p.title}</a></td>  		        
		      <td>${p.postdate.format('dd/MM/yyyy')}</td>
		      <td>${p.location}</td>
		      <td>${p.mateApplied}</td>
		      <td>${p.matesRequired}</td>		      
		      <td>${p.post}</td>
		      <td>${p.seeker}</td>
		      <td>${p.timeEnd}</td>
		      <td>${p.timeStart}</td>
		      <td>
		      #{form @GiveHelpController.mateIncrementer(), enctype:'multipart/form-data'}
		      <input type="text"  value ='${p.seeker}' name = "seeker"/>
		      <input type="submit" value="Ready To Help" />
		      #{/form}
		      </td>
		    </tr>
		    #{/list}
		  </tbody>
		</table>
</div>

<form id="giveHelpSearchForm" action="GiveHelpController/giveHelpSearch" enctype="multipart/form-data" >    
  
    <div id='giveHelpSearchForm_location_errorloc' style="color: red;" class='error_strings'>
    </div>
    Location:<br>
    <input type="text" name="location"/>
    <br>
    
    <div id='giveHelpSearchForm_searchDate_errorloc' style="color: red;" class='error_strings'>    
    </div>
    Date:<br>
    <input type="date" id="datepicker" name="searchDate"/>
    <br>
    
    <div id='giveHelpSearchForm_timeStart_errorloc' style="color: red;" class='error_strings'>    
    </div>
    Start Time:<br>
    <input type="text" name="timeStart"/>
    <br>

    <div id='giveHelpSearchForm_timeEnd_errorloc' style="color: red;" class='error_strings'>   
    </div>  
    End Time:<br>
    <input type="text" name="timeEnd"/>
    <br>    

    <input type="submit" value="Submit!" />
</form>


#{form @SeekHelpController.SeekHelpRedir(), enctype:'multipart/form-data'} 
    <input type="submit" value="SeekHelp" />
#{/form}

<script language="JavaScript" type="text/javascript">

  var frmvalidator  = new Validator("giveHelpSearchForm");
  frmvalidator.EnableOnPageErrorDisplay();
  frmvalidator.EnableMsgsTogether();
 
  frmvalidator.addValidation("location","req","Please enter location");
  
  frmvalidator.addValidation("searchDate","req","Please enter Date");
  
  frmvalidator.addValidation("timeStart","req","Please enter start time");
  
  frmvalidator.addValidation("timeEnd","req","Please enter end time");
 
    
</script>