#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container">
		<table class="table table-hover">
		  <thead>
		    <tr>  	
		      <th>Title</th>     
		      <th>Date</th>
		      <th>location</th>
		      <th>mateApplied</th>
		      <th>matesRequired</th>		      
		      <th>post</th> 
		      <th>seeker</th>
		      <th>timeEnd</th>
		      <th>timeStart</th>
		    
		      
		    </tr>
		  </thead>
		  <tbody id="giveHelpPostTable">
		    #{list items:giveHelpPost, as:'p'}
		    <tr>
		      <td><a href="@{SeekHelpController.seekerPostShowDetail(p.id)}">${p.title}</a></td>  		        
		      <td>${p.postdate.format('dd/MM/yyyy')}</td>
		      <td>${p.location}</td>
		      <td>${p.mateApplied}</td>
		      <td>${p.matesRequired}</td>		      
		      <td>${p.post}</td>
		      <td>${p.seeker}</td>
		      <td>${p.timeEnd}</td>
		      <td>${p.timeStart}</td>
		      <td>
<!-- 		      #{form @GiveHelpController.mateIncrementer(), enctype:'multipart/form-data'}
		      <input type="hidden"  value ='${p.seeker}' name = "seeker"/>
		      <input type="submit" value="Ready To Help" />
		      #{/form} -->
		      </td>
		    </tr>
		    #{/list}
		  </tbody>
		</table>
</div>

<form id="giveHelpSearchForm" action="/GiveHelpController/giveHelpSearch" enctype="multipart/form-data" >    
  
    <div id='giveHelpSearchForm_location_errorloc' style="color: red;" class='error_strings'>
    </div>
    Location:<br>
    <input type="text" name="location"/>
    <br>
    
    <div id='giveHelpSearchForm_searchDate_errorloc' style="color: red;" class='error_strings'>    
    </div>
    Date:<br>
    <input type="date" id="datepicker_Invalid" name="searchDate"/>
    <br>
    
    <div id='giveHelpSearchForm_timeStart_errorloc' style="color: red;" class='error_strings'>    
    </div>
    Start Time:<br>
    <input type="text" name="timeStart"/>
    <br>

    <div id='giveHelpSearchForm_timeEnd_errorloc' style="color: red;" class='error_strings'>   
    </div>  
    End Time:<br>
    <input type="text" name="timeEnd"/>
    <br>    

    <input class="frm-btn" type="submit" value="Submit!" />
</form>



<script language="JavaScript" type="text/javascript">

  var frmvalidator  = new Validator("giveHelpSearchForm");
  frmvalidator.EnableOnPageErrorDisplay();
  frmvalidator.EnableMsgsTogether();
 
  frmvalidator.addValidation("location","req","Please enter location");
  
  frmvalidator.addValidation("searchDate","req","Please enter Date");
  
  frmvalidator.addValidation("timeStart","req","Please enter start time");
  
  frmvalidator.addValidation("timeEnd","req","Please enter end time");
 
    
</script>


<!-- Form where mate can post when he can help -->
#{if session.get("userType") == "mate"}
<form id="matePostForm" action="/GiveHelpController/giveHelpPost" enctype="multipart/form-data" >

  <div id='matePostForm_seeker_errorloc' style="color: red;" class='error_strings'>    
  </div>
  <label for="seeker">Mate Name:</label>
  <input class="form-control"  type="text" name="seeker" value='${session.get("userName")}' readonly />
  <br>
  
  <div id='matePostForm_postDate_errorloc' style="color: red;" class='error_strings'>    
  </div>
  <label for="postDate">Date:</label>
  <input class="form-control"  type="text" name="postDate" id="datepicker" value="" />
  <br>
  
  <div id='matePostForm_timeStart_errorloc' style="color: red;" class='error_strings'>    
  </div>
  <label for="timeStart">Start time:</label>
  <input class="form-control"  type="text" name="timeStart" value="" />
  <br>
  
 <div id='matePostForm_timeEnd_errorloc' style="color: red;" class='error_strings'>   
 </div>  
  
  <label for="timeEnd">End time:</label>
  <input class="form-control"  type="text" name="timeEnd" value="" />
  <br>
   
 <div id='matePostForm_location_errorloc' style="color: red;" class='error_strings'>
 </div>
 <label for="location">Location:</label>
 <input class="form-control"  type="text" name="location" value="" />
  <br>
  
 <div id='matePostForm_matesRequired_errorloc' style="color: red;" class='error_strings'> 
</div>
  <label for="matesRequired">Number of seekers I can help:</label>
  <input class="form-control"  type="number" name="seekersRequired" min=1 />
  <br>
  
   <div id='matePostForm_title_errorloc' style="color: red;" class='error_strings'>
  </div>
  <label for="title">Title:</label>
  <input class="form-control"  type="text" name="title" value="" />
  <br>
  
  
  <div id='matePostForm_post_errorloc' style="color: red;" class='error_strings'>  
  </div>  
  <label for="post">Message:</label>
  <textarea class="form-control"  name="post"  style="height: 81px; width: 251px; ">    
  </textarea>
  <br> 
  
  <div class="form-group">
    <input type="submit" class="btn btn-default"  value="save" />
  </div>
  
</form>
#{/if}


#{else}

<h2 style="color:red;">Advertise for seeker</h2>

#{/else}


<script language="JavaScript" type="text/javascript">

  var frmvalidator  = new Validator("matePostForm");
  frmvalidator.EnableOnPageErrorDisplay();
  frmvalidator.EnableMsgsTogether();
 
  frmvalidator.addValidation("seeker","req","Please enter your  Name");
  frmvalidator.addValidation("seeker","maxlen=50","For Name, Max length is 50");
  
  frmvalidator.addValidation("postDate","req","Please enter Date");
  
  frmvalidator.addValidation("timeStart","req","Please enter start time");
  
  frmvalidator.addValidation("timeEnd","req","Please enter end time");
 
  frmvalidator.addValidation("location","req","Please enter location");
  
  frmvalidator.addValidation("matesRequired","req","Please enter number of mates you required");
  frmvalidator.addValidation("matesRequired","maxlen=50");
  frmvalidator.addValidation("matesRequired","numeric"); 
  
  frmvalidator.addValidation("title","req","Please enter title");
  
  frmvalidator.addValidation("post","req","Please enter your  message");
  frmvalidator.addValidation("post","maxlen=1000");
  
</script>