#{extends 'main.html' /}
#{set title:'GiveHelp' /}

<!-- This is the singular search values which is clickable search like amazon -->
<!-- 
<table>
    <tr>
    
    #{if location != ""}
        <td>
              <ul style="list-style-type: none;">
                <li> <a href="@{GiveHelpController.giveHelpSearchMetaLocation(location, searchDateS,timeStart,timeEnd)}">${location}</a></li>
              </ul>
        </td>
	#{/if}
	
	#{if searchDateS != ""}
        <td>
              <ul style="list-style-type: none;" >
              <li><a href="@{GiveHelpController.giveHelpSearchMetaDate(location, searchDateS,timeStart,timeEnd)}">${searchDateS}</a></li>
              </ul>
        </td>
    #{/if}    
    
    #{if timeStart != "00:00:00"}
        <td>
              <ul style="list-style-type: none;">
                <li> <a href="@{GiveHelpController.giveHelpSearchMetaTimeStart(location, searchDateS,timeStart,timeEnd)}">${timeStart}</a></li>
              </ul>
        </td>
	#{/if}
	
	#{if timeEnd != "23:59:00"}
        <td>
              <ul style="list-style-type: none;" >
              <li><a href="@{GiveHelpController.giveHelpSearchMetaTimeEnd(location, searchDateS,timeStart,timeEnd)}">${timeEnd}</a></li>
              </ul>
        </td>
    #{/if}  
    </tr>
</table> -->

<!-- End of singular click search -->

<div>
#{if (location != null && location != "") || (searchDateS != null && searchDateS != "") 
     || (timeStart != null && timeStart != "" && timeStart != "00:00:00")
     || (timeEnd != null && timeEnd != "" && timeEnd != "23:59:00")}
<h4 style="color:red; display: inline;">You Have Searched for: 
  <h5 style= "display: inline;">
  #{if location != null && location != ""}
  Location: ${location}
  #{/if}

  #{if searchDateS != null && searchDateS != ""}
  Date: ${searchDateS}
  #{/if}

  #{if timeStart != null && timeStart != "" && timeStart != "00:00:00"}
  Start Time: ${timeStart}
  #{/if}
  
  #{if timeEnd != null && timeEnd != "" && timeEnd != "23:59:00"}
  End Time: ${timeEnd}
  #{/if}   
  </h5>  
</h4>
#{/if}
</div>	

	

<div class="container">
		<table class="table table-hover">
		  <thead>
		    <tr>  	
		      <th>Title</th>     
		      <th>Date</th>
		      <th>location</th>
		      <th>Mate Applied</th>
		      <th>Mates Required</th>		      
		      <th>post</th> 
		      <th>seeker</th>
		      <th>Start Time</th>
		      <th>End Time</th>
		    
		      
		    </tr>
		  </thead>
		  <tbody id="giveHelpPostTable">
		    #{list items:giveHelpPost, as:'p'}
		    <tr>
		      <td><a href="@{SeekHelpController.seekerPostShowDetail(p.id)}">${p.title}</a></td>  		        
		      <td>${p.postdate.format('dd/MM/yyyy')}</td>
		      <td>${p.location}</td>
		      <td>${p.mateApplied}</td>
		      <td>${p.matesRequired}</td>		      
		      <td>${p.post}</td>
		      <td><a href="@{ProfileController.profileView(p.seekerWhoPosted.userSeeker.id)}">${p.seeker}</a></td>
		      <td>${p.timeStart}</td>
		      <td>${p.timeEnd}</td>

		      <td>
<!-- 		      #{form @GiveHelpController.mateIncrementer(), enctype:'multipart/form-data'}
		      <input type="hidden"  value ='${p.seeker}' name = "seeker"/>
		      <input type="submit" value="Ready To Help" />
		      #{/form} -->
		      </td>
		    </tr>
		    #{/list}
		  </tbody>
		</table>
</div>






<form id="giveHelpSearchForm" action="/GiveHelpController/giveHelpSearch" method="post"  enctype="multipart/form-data" >    
  
    <div id='giveHelpSearchForm_location_errorloc1'  style="color: red;" class='error_strings'>
    </div>
    Location:<br>
    <!-- <input type="text" name="location" value=""/> -->    
    <select name = "location">
	        <option value="" selected>Select </option>
	        <option value="Dhaka">Dhaka</option>							
			<option value="Chittagong">Chittagong</option>										
			<option value="Rajshahi">Rajshahi</option>										
			<option value="Sylhet">Sylhet</option>										
			<option value="Khulna">Khulna</option>										
			<option value="Rangpur">Rangpur</option>										
			<option value="Faridpur">Faridpur</option>										
			<option value="Gazipur">Gazipur</option>										
			<option value="Gopalganj">Gopalganj</option>										
			<option value="Jamalpur">Jamalpur</option>										
			<option value="Kishoreganj">Kishoreganj</option>										
			<option value="Madaripur">Madaripur</option>										
			<option value="Manikganj">Manikganj</option>										
			<option value="Munshiganj">Munshiganj</option>										
			<option value="Mymensingh">Mymensingh</option>										
			<option value="Narayanganj">Narayanganj</option>										
			<option value="Narsingdi">Narsingdi</option>										
			<option value="Netrokona">Netrokona</option>										
			<option value="Rajbari">Rajbari</option>										
			<option value="Shariatpur">Shariatpur</option>										
			<option value="Sherpur">Sherpur</option>										
			<option value="Tangail">Tangail</option>										
			<option value="Bogra">Bogra</option>										
			<option value="Joypurhat">Joypurhat</option>										
			<option value="Naogaon">Naogaon</option>										
			<option value="Natore">Natore</option>										
			<option value="ChapaiNawabganj">ChapaiNawabganj</option>										
			<option value="Pabna">Pabna</option>										
			<option value="Sirajgonj">Sirajgonj</option>										
			<option value="Dinajpur">Dinajpur</option>										
			<option value="Gaibandha">Gaibandha</option>										
			<option value="Kurigram">Kurigram</option>										
			<option value="Lalmonirha">Lalmonirha</option>										
			<option value="Nilphamari">Nilphamari</option>										
			<option value="Panchagarh">Panchagarh</option>										
			<option value="Thakurgaon">Thakurgaon</option>										
			<option value="Barguna">Barguna</option>										
			<option value="Barisal">Barisal</option>										
			<option value="Bhola">Bhola</option>										
			<option value="Jhalokati">Jhalokati</option>										
			<option value="Patuakhali">Patuakhali</option>										
			<option value="Pirojpur">Pirojpur</option>										
			<option value="Bandarban">Bandarban</option>										
			<option value="Brahmanbaria">Brahmanbaria</option>										
			<option value="Chandpur">Chandpur</option>										
			<option value="Comilla">Comilla</option>										
			<option value="CoxBazar">CoxBazar</option>										
			<option value="Feni">Feni</option>										
			<option value="Khagrachari">Khagrachari</option>										
			<option value="Lakshmipur">Lakshmipur</option>										
			<option value="Noakhali">Noakhali</option>										
			<option value="Rangamati">Rangamati</option>										
			<option value="Habiganj">Habiganj</option>										
			<option value="Maulvibazar">Maulvibazar</option>										
			<option value="Sunamganj">Sunamganj</option>										
			<option value="Bagerhat">Bagerhat</option>										
			<option value="Chuadanga">Chuadanga</option>										
			<option value="Jessore">Jessore</option>										
			<option value="Jhenaidah">Jhenaidah</option>										
			<option value="Kushtia">Kushtia</option>										
			<option value="Magura">Magura</option>										
			<option value="Meherpur">Meherpur</option>										
			<option value="Narail">Narail</option>										
			<option value="Satkhira">Satkhira</option>
      </select>
    <br>
    
    <div id='giveHelpSearchForm_searchDateS_errorloc1' style="color: red;" class='error_strings'>    
    </div>
    Date:<br>
    <input type="text" id="datepicker" name="searchDateS" value=""/>
    <br>
    
    <div id='giveHelpSearchForm_timeStart_errorloc1' style="color: red;" class='error_strings'>    
    </div>
    Start Time:<br>
    <input type="text" name="timeStart" id="timeStart"/>
    <br>

    <div id='giveHelpSearchForm_timeEnd_errorloc1' style="color: red;" class='error_strings'>   
    </div>  
    End Time:<br>
    <input type="text" name="timeEnd" id="timeEnd"/>
    <br>    

    <input class="frm-btn" type="submit" value="Search!" />
</form>



<!-- <script language="JavaScript" type="text/javascript">
  $('#timeStart').timepicker({ 'timeFormat': 'H:i:s' });
  $('#timeEnd').timepicker({ 'timeFormat': 'H:i:s' });
  
  $('#giveHelpSearchForm').submit(function(event){
		 var strtTm=$('#timeStart').val();
		 var endTm=$('#timeEnd').val();
		 if(endTm<=strtTm){
		 	alert("End time should be greater than Start time");
		 	event.preventDefault();
			return false;
		 }
		 
	});

  var frmvalidator  = new Validator("giveHelpSearchForm");
  frmvalidator.EnableOnPageErrorDisplay();
  frmvalidator.EnableMsgsTogether();
 
  /* frmvalidator.addValidation("location","Please enter location"); */
  frmvalidator.addValidation("location","dontselect=0");
  frmvalidator.addValidation("searchDate","Please enter Date");
  
  frmvalidator.addValidation("timeStart","Please enter start time");
  
  frmvalidator.addValidation("timeEnd","Please enter end time");
 
    
</script> -->


<!-- Form where mate can post when he can help -->
#{if session.get("userType") == "mate"}
<form id="matePostForm" action="/GiveHelpController/giveHelpPost" enctype="multipart/form-data" > 
  <div id='matePostForm_seeker_errorloc' style="color: red;" class='error_strings'>    
  </div>
  <label for="seeker">Mate Name:</label>
  <input class="form-control"  type="text" name="seeker" value='${session.get("userName")}' readonly />
  <br>
  
  <div id='matePostForm_postDate_errorloc' style="color: red;" class='error_strings'>    
  </div>
  <label for="postDate">Date:</label>
  <input class="form-control"  type="text" name="postDate" id="datepicker_1" value="" />
  <br>
  
  <div id='matePostForm_timeStart_errorloc' style="color: red;" class='error_strings'>    
  </div>
  <label for="timeStart">Start time:</label>
  <input class="form-control"  type="text" name="timeStart" id="timeStartMatePost" value="" />
  <br>
  
 <div id='matePostForm_timeEnd_errorloc' style="color: red;" class='error_strings'>   
 </div>  
  
  <label for="timeEnd">End time:</label>
  <input class="form-control"  type="text" name="timeEnd" id="timeEndMatePost" value="" />
  <br>
   
 <div id='matePostForm_location_errorloc' style="color: red;" class='error_strings'>
 </div>
 <label for="location">Location:</label>
 <!-- <input class="form-control"  type="text" name="location" value="" /> -->
 <select name = "location">
	        <option value="0" selected>Select </option>
	        <option value="Dhaka">Dhaka</option>							
			<option value="Chittagong">Chittagong</option>										
			<option value="Rajshahi">Rajshahi</option>										
			<option value="Sylhet">Sylhet</option>										
			<option value="Khulna">Khulna</option>										
			<option value="Rangpur">Rangpur</option>										
			<option value="Faridpur">Faridpur</option>										
			<option value="Gazipur">Gazipur</option>										
			<option value="Gopalganj">Gopalganj</option>										
			<option value="Jamalpur">Jamalpur</option>										
			<option value="Kishoreganj">Kishoreganj</option>										
			<option value="Madaripur">Madaripur</option>										
			<option value="Manikganj">Manikganj</option>										
			<option value="Munshiganj">Munshiganj</option>										
			<option value="Mymensingh">Mymensingh</option>										
			<option value="Narayanganj">Narayanganj</option>										
			<option value="Narsingdi">Narsingdi</option>										
			<option value="Netrokona">Netrokona</option>										
			<option value="Rajbari">Rajbari</option>										
			<option value="Shariatpur">Shariatpur</option>										
			<option value="Sherpur">Sherpur</option>										
			<option value="Tangail">Tangail</option>										
			<option value="Bogra">Bogra</option>										
			<option value="Joypurhat">Joypurhat</option>										
			<option value="Naogaon">Naogaon</option>										
			<option value="Natore">Natore</option>										
			<option value="ChapaiNawabganj">ChapaiNawabganj</option>										
			<option value="Pabna">Pabna</option>										
			<option value="Sirajgonj">Sirajgonj</option>										
			<option value="Dinajpur">Dinajpur</option>										
			<option value="Gaibandha">Gaibandha</option>										
			<option value="Kurigram">Kurigram</option>										
			<option value="Lalmonirha">Lalmonirha</option>										
			<option value="Nilphamari">Nilphamari</option>										
			<option value="Panchagarh">Panchagarh</option>										
			<option value="Thakurgaon">Thakurgaon</option>										
			<option value="Barguna">Barguna</option>										
			<option value="Barisal">Barisal</option>										
			<option value="Bhola">Bhola</option>										
			<option value="Jhalokati">Jhalokati</option>										
			<option value="Patuakhali">Patuakhali</option>										
			<option value="Pirojpur">Pirojpur</option>										
			<option value="Bandarban">Bandarban</option>										
			<option value="Brahmanbaria">Brahmanbaria</option>										
			<option value="Chandpur">Chandpur</option>										
			<option value="Comilla">Comilla</option>										
			<option value="CoxBazar">CoxBazar</option>										
			<option value="Feni">Feni</option>										
			<option value="Khagrachari">Khagrachari</option>										
			<option value="Lakshmipur">Lakshmipur</option>										
			<option value="Noakhali">Noakhali</option>										
			<option value="Rangamati">Rangamati</option>										
			<option value="Habiganj">Habiganj</option>										
			<option value="Maulvibazar">Maulvibazar</option>										
			<option value="Sunamganj">Sunamganj</option>										
			<option value="Bagerhat">Bagerhat</option>										
			<option value="Chuadanga">Chuadanga</option>										
			<option value="Jessore">Jessore</option>										
			<option value="Jhenaidah">Jhenaidah</option>										
			<option value="Kushtia">Kushtia</option>										
			<option value="Magura">Magura</option>										
			<option value="Meherpur">Meherpur</option>										
			<option value="Narail">Narail</option>										
			<option value="Satkhira">Satkhira</option>
      </select>
  <br>
  
 <div id='matePostForm_matesRequired_errorloc' style="color: red;" class='error_strings'> 
</div>
  <label for="matesRequired">Number of seekers I can help:</label>
  <input class="form-control"  type="number" name="seekersRequired" min=1 />
  <br>
  
   <div id='matePostForm_title_errorloc' style="color: red;" class='error_strings'>
  </div>
  <label for="title">Title:</label>
  <input class="form-control"  type="text" name="title" value="" />
  <br>
  
  
  <div id='matePostForm_post_errorloc' style="color: red;" class='error_strings'>  
  </div>  
  <label for="post">Message:</label>
  <textarea class="form-control"  name="post"  style="height: 81px; width: 251px; ">    
  </textarea>
  <br> 
  
  <div class="form-group">
    <input type="submit" class="btn btn-default"  value="save" />
  </div>
  
</form>

#{/if}


#{else}
<form id="matePostForm" action="/GiveHelpController/giveHelpPost" enctype="multipart/form-data" > 
<h2 style="color:red;">Advertise for seeker</h2>
</form>
#{/else}


<script language="JavaScript" type="text/javascript">
	$('#timeStart').timepicker({ 'timeFormat': 'H:i:s' });
	$('#timeEnd').timepicker({ 'timeFormat': 'H:i:s' });
	
	$('#giveHelpSearchForm').submit(function(event){
		 var strtTm=$('#timeStart').val();
		 var endTm=$('#timeEnd').val();
		 // you can search with only end time or start time, but if you give both start time and end time, then end time
		 //should be greater than start time
		 if(endTm!="" && strtTm!="" && endTm<=strtTm){
		 	alert("End time should be greater than Start time");
		 	event.preventDefault();
			return false;
		 }
		 
	});

	$('#timeStartMatePost').timepicker({ 'timeFormat': 'H:i:s' });
	$('#timeEndMatePost').timepicker({ 'timeFormat': 'H:i:s' });
	
	$('#matePostForm').submit(function(event){
		 var nowDate=new Date();
		 var inputDate= new Date($('#datepicker_1').val());
		 if(inputDate<nowDate){
			 alert("Can not insert previous date");
			 event.preventDefault();
			 return false;
		 }
		 var strtTm=$('#timeStartMatePost').val();
		 var endTm=$('#timeEndMatePost').val();
		 if(endTm<=strtTm){
		 	alert("End time should be greater than Start time");
		 	event.preventDefault();
			return false;
		 }
		 
	});

  var frmvalidator  = new Validator("matePostForm");
  frmvalidator.EnableOnPageErrorDisplay();
  frmvalidator.EnableMsgsTogether();
 
  frmvalidator.addValidation("location","dontselect=0");
  frmvalidator.addValidation("seeker","req","Please enter your  Name");
  frmvalidator.addValidation("seeker","maxlen=50","For Name, Max length is 50");
  
  frmvalidator.addValidation("postDate","req","Please enter Date");
  
  frmvalidator.addValidation("timeStart","req","Please enter start time");
  
  frmvalidator.addValidation("timeEnd","req","Please enter end time");
 
  frmvalidator.addValidation("location","req","Please enter location");
  
  frmvalidator.addValidation("matesRequired","req","Please enter number of mates you required");
  frmvalidator.addValidation("matesRequired","maxlen=50");
  frmvalidator.addValidation("matesRequired","numeric"); 
  
  frmvalidator.addValidation("title","req","Please enter title");
  
  frmvalidator.addValidation("post","req","Please enter your  message");
  frmvalidator.addValidation("post","maxlen=1000");
  
</script>





