#{extends 'main.html' /}
#{set title:'Mate detail' /}

    <h2 class="post-title">
        <a href="@{GiveHelpController.matePostShowDetail(post.id)}">${post.title}</a>
    </h2>
    
    <h4 class="mate-applied">
        Seeker Applied for Help: ${post.seekersApplied}
        <br/>
        Total Seeker Required to Help: ${post.seekersRequired}
    </h4>
    
    #{if post.status == "open" && session.get("userType") == "seeker" && mateFound == false}
    #{form @SeekHelpController.seekerIncrementer1(), enctype:'multipart/form-data'}
    <input type="hidden"  value ='${post.id}' name = "postId"/>
    <input type="submit" value="I Need Help" />
    #{/form}
    #{/if}
    
    #{if post.status == "open" && session.get("userType") == "seeker" && mateFound == true}
     #{form @SeekHelpController.seekerRevokeHelpNeeded(), enctype:'multipart/form-data'}
    <input type="hidden"  value ='${post.id}' name = "postId"/>
    <input type="submit" value="I want to Revoke My Request" />
    #{/form}
    #{/if}
    
    
 <!-- This div will show when the seeker logged In and will click the button to update
 his post. -->  
 #{if session.get("userType") == "mate" && session.get("id") == post.postedBy.id.toString()} 
<div id="updateDiv"  style="display:none;" class="answer_list" > 
#{form @GiveHelpController.updatePost(post.id), enctype:'multipart/form-data'}

  <div id='matePostForm_seeker_errorloc' style="color: red;" class='error_strings'>    
  </div>
  <label for="seeker">Mate Name:</label>
  <input class="form-control"  type="text" name="mate" value='${session.get("userName")}' readonly />
  <br>
  
  <div id='matePostForm_postDate_errorloc' style="color: red;" class='error_strings'>    
  </div>
  <label for="postDate">Date:</label>
  <input class="form-control"  type="text" name="postDate" id="datepicker" value="${post.postdate.cut('00:00:00.0')}" />
  <br>
  
  <div id='matePostForm_timeStart_errorloc' style="color: red;" class='error_strings'>    
  </div>
  <label for="timeStart">Start time:</label>
  <input class="form-control"  type="text" name="timeStart" value="${post.timeStart}" />
  <br>
  
 <div id='matePostForm_timeEnd_errorloc' style="color: red;" class='error_strings'>   
 </div>  
  
  <label for="timeEnd">End time:</label>
  <input class="form-control"  type="text" name="timeEnd" value="${post.timeEnd}" />
  <br>
   
 <div id='matePostForm_location_errorloc' style="color: red;" class='error_strings'>
 </div>
 <label for="location">Location:</label>
 <input class="form-control"  type="text" name="location" value="${post.location}" />
  <br>
  
 <div id='matePostForm_matesRequired_errorloc' style="color: red;" class='error_strings'> 
</div>
  <label for="matesRequired">Number of Seekers Required:</label>
  <input class="form-control"  type="number" name="seekersRequired" min ="${post.seekersApplied}" value = "${post.seekersRequired}" />
  <br>
 
  <div id='matePostForm_matesApplied_errorloc' style="color: red;" class='error_strings'> 
</div>
  <label for="mateApplied">Number of Seekers Applied:</label>
  <input class="form-control"  type="number" name="seekersApplied" value = "${post.seekersApplied}" readonly/>
  <br>
  
   <div id='matePostForm_title_errorloc' style="color: red;" class='error_strings'>
  </div>
  <label for="title">Title:</label>
  <input class="form-control"  type="text" name="title" value="${post.title}" readonly />
  <br>
  
  
  <div id='matePostForm_post_errorloc' style="color: red;" class='error_strings'>  
  </div>  
  <label for="post">Message:</label>
  <textarea class="form-control"  name="post"  style="height: 81px; width: 251px; ">    
  </textarea>
  <br> 
  
  <div class="form-group">
    <input type="submit" class="btn btn-default"  value="save your Update" />
  </div>

#{/form}
    
 </div>
<input id="button_event" type="button" name="update" value="Update your post" onclick="showDiv()" />
#{/if}
<!-- End of Update Div -->    
    
    
    
    
    
    
    
    <div class="post-metadata">
        <span class="post-author">by <a href="@{ProfileController.profileView(post.postedBy.userMate.id)}"> ${post.postedBy.userMate.firstName}</a></span>,
        <span class="post-date">${post.postdate.format('dd MMM yy')}</span>
    </div>
    
        <div class="post-content">
            <div class="about">Detail: </div>
            ${post.post.nl2br()}
        </div>
        
    #{form @GiveHelpController.postComment(post.id)}
	#{ifErrors}
		<p class="error">
			All fields required!
		</p>
	#{/ifErrors}
    
    <p>
        <label for="author">Your name: </label>
        ${session.get("userName")}
    </p>
     
    
    <p>
        <label for="content">Your message: </label>
        <textarea name="content" id="content">${params.content}</textarea>
    </p>
    <p>
        <input type="submit" value="Submit your comment" />
    </p>
	#{/form}
     
    <div class="comments">
        <h3>
            { ${post.comments.size() ?: 'no'}
            comment${post.comments.size().pluralize()}}
        </h3>
        
        #{list items:post.comments, as:'comment'}
            <div class="comment">
                <div class="comment-metadata">
                    <span class="comment-author">
                    #{if comment.who=="seeker"}
                    	by  ${comment.authorSeeker.userSeeker.firstName} ,	
                    #{/if}
                    #{if comment.who=="mate"}
                    	by  ${comment.authorMate.userMate.firstName} ,	
                    #{/if}
                    </span>
                    <span class="comment-date">
                         ${comment.postedAt.format('dd MMM yy')} 
                    </span>
                </div>
                <div class="comment-content">
                    <div class="about">Detail: </div>
                     ${comment.content.escape().nl2br()}
                </div>
            </div>
         #{/list}
        
    </div>
    
    
<script language="JavaScript" type="text/javascript">  
function showDiv() {
	
	if (document.getElementById('updateDiv').style.display !== 'none') {
		document.getElementById('updateDiv').style.display = 'none';
		
    }
    else {
    	document.getElementById('updateDiv').style.display = 'block';
    	document.getElementById('button_event').value = "Close Update"
    }
	
}
</script>    
     