#{extends 'main.html' /}
#{set title:'Home' /}


#{if session.get("userType") == "mate"}

<p>Hello! <b>${session.get("userType")}</b>, ${usermate.firstName} Welcome to your profile</p>

Details:
<div>
<p>Name: ${session.get("userName")}</p>
<p>Email: ${usermate.email}</p>
<p>Date of Birth: ${usermate.dateofBirth.cut('00:00:00.0')}</p>
<p>Address: House: ${usermate.address.houseNumber}, Street: ${usermate.address.street}</p>
<P>${usermate.address.zipCode}, ${usermate.address.city}, ${usermate.address.country}</P>
</div>

#{/if}



#{if session.get("userType") == "seeker"}

<p>Hello! <b>${session.get("userType")}</b>, ${userseeker.firstName} Welcome to your profile</p>

Details:
<div>
<p>Name: ${session.get("userName")}</p>
<p>Email: ${userseeker.email}</p>
<p>Date of Birth: ${userseeker.dateofBirth.cut('00:00:00.0')}</p>
<p>Address: House: ${userseeker.address.houseNumber}, Street: ${userseeker.address.street}</p>
<P>${userseeker.address.zipCode}, ${userseeker.address.city}, ${userseeker.address.country}</P>
</div>

#{/if}


<!-- This div is for the posts opened by Seeker -->
<h2>Events from Seekers side:</h2>
<div>
#{if openedEvents.size() > 0}
<h3>Open Events:</h3>
#{list items:openedEvents, as:'open'}
<a href="@{SeekHelpController.seekerPostShowDetail(open.id)}">${open.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Open Events Applied.</h4>
#{/else}
</div>

<div>
#{if closedEvents.size() > 0}
<h3>Closed Events:</h3>
#{list items:closedEvents, as:'close'}
<a href="@{SeekHelpController.seekerPostShowDetail(close.id)}">${close.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Closed Events.</h4>
#{/else}
</div>

<div>
#{if completedEvents.size() > 0}
<h3>Completed Events:</h3>
#{list items:completedEvents, as:'complete'}
<a href="@{SeekHelpController.seekerPostShowDetail(complete.id)}">${complete.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Completed Events.</h4>
#{/else}
</div>


<!-- This div is for the posts opened by Mate -->

<h2>Events opened from Mates side:</h2>
<div>
#{if openedEventsofMatePost.size() > 0}
<h3>Open Events from Mate:</h3>
#{list items:openedEventsofMatePost, as:'openbyMate'}
<a href="@{GiveHelpController.matePostShowDetail(openbyMate.id)}">${openbyMate.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Open Events from Mate been Applied.</h4>
#{/else}
</div>

<div>
#{if closedEventsofMatePost.size() > 0}
<h3>Closed Events from Mate:</h3>
#{list items:closedEventsofMatePost, as:'closebyMate'}
<a href="@{GiveHelpController.matePostShowDetail(closebyMate.id)}">${closebyMate.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Closed Events from Mate.</h4>
#{/else}
</div>

<div>
#{if completedEventsofMatePost.size() > 0}
<h3>Completed Events from Mate:</h3>
#{list items:completedEventsofMatePost, as:'completebyMate'}
<a href="@{GiveHelpController.matePostShowDetail(completebyMate.id)}">${completebyMate.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Completed Events from Mate.</h4>
#{/else}
</div>