#{extends 'main.html' /}
#{set title:'Profile' /}


<div class="section">
<div class="container">
<div class="post">



<!-- This div is for the posts opened by Seeker -->

<div class="login" style="width:450px;">
<h2>Events from Seekers side:</h2>
<div>
#{if openedEvents.size() > 0}
<h3>Open Events:</h3>
#{list items:openedEvents, as:'open'}
<a href="@{SeekHelpController.seekerPostShowDetail(open.id)}">${open.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Open Events Applied.</h4>
#{/else}
</div>

<div>
#{if closedEvents.size() > 0}
<h3>Closed Events:</h3>
#{list items:closedEvents, as:'close'}
<a href="@{SeekHelpController.seekerPostShowDetail(close.id)}">${close.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Closed Events.</h4>
#{/else}
</div>

<div>
#{if completedEvents.size() > 0}
<h3>Completed Events:</h3>
#{list items:completedEvents, as:'complete'}
<a href="@{SeekHelpController.seekerPostShowDetail(complete.id)}">${complete.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Completed Events.</h4>
#{/else}
</div>
</div>

<!-- This div is for the posts opened by Mate -->

<div class="login" style="width:450px;clear:right;">
<h2>Events opened from Mates side:</h2>
<div>
#{if openedEventsofMatePost.size() > 0}
<h3>Open Events from Mate:</h3>
#{list items:openedEventsofMatePost, as:'openbyMate'}
<a href="@{GiveHelpController.matePostShowDetail(openbyMate.id)}">${openbyMate.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Open Events from Mate been Applied.</h4>
#{/else}
</div>

<div>
#{if closedEventsofMatePost.size() > 0}
<h3>Closed Events from Mate:</h3>
#{list items:closedEventsofMatePost, as:'closebyMate'}
<a href="@{GiveHelpController.matePostShowDetail(closebyMate.id)}">${closebyMate.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Closed Events from Mate.</h4>
#{/else}
</div>

<div>
#{if completedEventsofMatePost.size() > 0}
<h3>Completed Events from Mate:</h3>
#{list items:completedEventsofMatePost, as:'completebyMate'}
<a href="@{GiveHelpController.matePostShowDetail(completebyMate.id)}">${completebyMate.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Completed Events from Mate.</h4>
#{/else}
</div>
</div>


#{if session.get("user_id") == user.id.toString()}
<p><h2>Hello!</h2> <h3>${user.type}, <b>${user.firstName}</b> Welcome to your profile</h3></p>
#{/if}
<br><br>

<h4>Details:</h4><br>
<div>
<p><b>Name:</b> ${user.firstName + " "+ user.lastName}</p>
<p><b>Email:</b> ${user.email}</p>
<p><b>Date of Birth:</b> ${user.dateofBirth.cut('00:00:00.0')}</p>
<p><b>Address:</b><br> House: ${user.address.houseNumber}, Street: ${user.address.street}</p>
<P>${user.address.zipCode}, ${user.address.city}, ${user.address.country}</P>
<br><br><br><br><br><br><br><br><br>
</div>


</div></div></div>