#{extends 'main.html' /}
#{set title:'Profile' /}


<div class="section">
<div class="container">
#{if session.get("user_id") == user.id.toString()}
<p>Hello! <b>${user.type}</b>, ${user.firstName} Welcome to your profile</p>
#{/if}


Details:
<div>
<p>Name: ${user.firstName + " "+ user.lastName}</p>
<p>Email: ${user.email}</p>
<p>Date of Birth: ${user.dateofBirth.cut('00:00:00.0')}</p>
<p>Address: House: ${user.address.houseNumber}, Street: ${user.address.street}</p>
<P>${user.address.zipCode}, ${user.address.city}, ${user.address.country}</P>
</div>



<!-- This div is for the posts opened by Seeker -->
<h2>Events from Seekers side:</h2>
<div>
#{if openedEvents.size() > 0}
<h3>Open Events:</h3>
#{list items:openedEvents, as:'open'}
<a href="@{SeekHelpController.seekerPostShowDetail(open.id)}">${open.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Open Events Applied.</h4>
#{/else}
</div>

<div>
#{if closedEvents.size() > 0}
<h3>Closed Events:</h3>
#{list items:closedEvents, as:'close'}
<a href="@{SeekHelpController.seekerPostShowDetail(close.id)}">${close.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Closed Events.</h4>
#{/else}
</div>

<div>
#{if completedEvents.size() > 0}
<h3>Completed Events:</h3>
#{list items:completedEvents, as:'complete'}
<a href="@{SeekHelpController.seekerPostShowDetail(complete.id)}">${complete.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Completed Events.</h4>
#{/else}
</div>


<!-- This div is for the posts opened by Mate -->

<h2>Events opened from Mates side:</h2>
<div>
#{if openedEventsofMatePost.size() > 0}
<h3>Open Events from Mate:</h3>
#{list items:openedEventsofMatePost, as:'openbyMate'}
<a href="@{GiveHelpController.matePostShowDetail(openbyMate.id)}">${openbyMate.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Open Events from Mate been Applied.</h4>
#{/else}
</div>

<div>
#{if closedEventsofMatePost.size() > 0}
<h3>Closed Events from Mate:</h3>
#{list items:closedEventsofMatePost, as:'closebyMate'}
<a href="@{GiveHelpController.matePostShowDetail(closebyMate.id)}">${closebyMate.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Closed Events from Mate.</h4>
#{/else}
</div>

<div>
#{if completedEventsofMatePost.size() > 0}
<h3>Completed Events from Mate:</h3>
#{list items:completedEventsofMatePost, as:'completebyMate'}
<a href="@{GiveHelpController.matePostShowDetail(completebyMate.id)}">${completebyMate.title}</a>
<br/>
#{/list}
#{/if}
#{else}
<h4>No Completed Events from Mate.</h4>
#{/else}
</div>

</div></div>