#{extends 'main.html' /}
#{set title:'Log In' /}


<div class="section">
<div class="container">
 <form id="LogInForm" action="/LogInController/logIn" enctype="multipart/form-data" >
    
    <div id='LogInForm_email_errorloc' style="color: red;" class='error_strings'>
    </div>    
    User ID:<br>
    <input type="text" name="email" />    
    <br>
     
    <div id='LogInForm_pwd_errorloc' style="color: red;" class='error_strings'>
    </div><br>  
    Password:<br>
    <input type="password" size="25" name="pwd" />
    <br>
    
    <label id="lblErrorMessage" style="color: red;">${errorMessage} </label> 
    
    <div id='LogInForm_type_errorloc' style="color: red;" class='error_strings'>
    </div>
        
    <br>
    <div class="col-lg-4 col-md-4">
    <input type="submit" class="btn btn-lg btn-primary pull-right"  value="Sign In" /></div>
    
    
    
</form> 
<form id="RegisterForm" action="/RegistrationController/register" enctype="multipart/form-data" >
    <div class="col-lg-4 col-md-4">    
    <input type="submit" class="btn btn-lg btn-primary pull-right"  value="Register" /></div>
 </form> 
</div></div>


<script language="JavaScript" type="text/javascript">

  var frmvalidator  = new Validator("LogInForm");
  frmvalidator.EnableOnPageErrorDisplay();
  frmvalidator.EnableMsgsTogether();
 
  frmvalidator.addValidation("email","maxlen=50");
  frmvalidator.addValidation("email","req");
  frmvalidator.addValidation("email","email");
  
  frmvalidator.addValidation("pwd","req","Please enter your Password");
  frmvalidator.addValidation("pwd","maxlen=20","For Password, Max length is 20");  
   
</script>


