#{extends 'main.html' /}
#{set title:'Restore Humanity -Home' /}


<div class="section">
<div class="container">
	<div class="login">
	
 	<form id="LogInForm" action="/LogInController/logIn" enctype="multipart/form-data" >
    
    <div id='LogInForm_email_errorloc' style="color: red;" class='error_strings'>
    </div>    
    <h4>User ID:</h4>
    <input class="form-control" type="text" name="email" size="25" />    
     
    <div id='LogInForm_pwd_errorloc' style="color: red;" class='error_strings'>
    </div><br>  
    <h4>Password:</h4>
    <input class="form-control" type="password" size="25" name="pwd" />
    
    <label id="lblErrorMessage" style="color: red;">${errorMessage} </label> 
    
    <div id='LogInForm_type_errorloc' style="color: red;" class='error_strings'>
    </div>
        
    <div class="col-lg-4">
    <input type="submit" class="btn btn-lg btn-primary pull-right"  value="Sign In" /></div>
          
	</form> <br> <br> <br>
	

	<h4>New User?<br> Please <a href="/RegistrationController/register">register</a> here</h4>
	<form id="RegisterForm" action="/RegistrationController/register" enctype="multipart/form-data" >
    <div class="col-lg-5">    
    <input type="submit" class="btn btn-lg btn-primary pull-right"  value="Register" /></div>
 	</form>

	</div>
	
	<div class="container home">

	<h2>We are serving the Humanity...............</h2> <br>
	<h4>People who are not able to do physical work and have their works to be done, such as collecting papers from office and bank they can post regarding help on "Restore Humanity".<br><br>
	Young people who have time to invest for Humanity and eager to serve the society can schedule here their of availability.</h4><br><br>
	<div class="container img"><img src="@{'/public/images/help-home.jpg'}" width="350" /></div><br><br><br><br><br><br>
	<div class="container home"><i>A help mate is helping an old woman to go to visit doctor.....</i></div><br>
	<div class="container home"><h4>Help mate has to be registered to ask for help. If he fails to found any of the respective mates from the lists then he will press the <a href="@{SeekHelpController.SeekHelp}"><b>&ldquo;Seek Help&rdquo;</b></a> button to ask for help providing necessary information. To narrow the lists of the mates&rsquo; posts seekers can use the search button filling and choosing various criterion.</h4></div><br>
	<div class="container home"><h4>Please <a href="/RegistrationController/register">reigster</a> here if you want to make a query for help or if you want to provide help.</h4></div>

	</div>
	
</div></div>


<script language="JavaScript" type="text/javascript">

  var frmvalidator  = new Validator("LogInForm");
  frmvalidator.EnableOnPageErrorDisplay();
  frmvalidator.EnableMsgsTogether();
 
  frmvalidator.addValidation("email","maxlen=50");
  frmvalidator.addValidation("email","req");
  frmvalidator.addValidation("email","email");
  
  frmvalidator.addValidation("pwd","req","Please enter your Password");
  frmvalidator.addValidation("pwd","maxlen=20","For Password, Max length is 20");  
   
</script>


