#{extends 'main.html' /}
#{set title:'Home' /}


#{form @LogInController.logIn(), enctype:'multipart/form-data'}
    
  
    User ID:<br>
    <input type="text" name="email"/>
    <br>
      
    
    Password:<br>
    <input type="password" size="25" name="pwd"/>
    <br> 
    
    
    User Type:<br>
    <select name = "type">
		  <option value="seeker" >Seeker</option>
		  <option value="mate">Helpmate</option>
  
	</select>
        
<!-- <button type="button">Register</button> -->
   <!--  <button type="button">Sign In</button> -->
  
    <input type="submit" class="frm-btn" value="Sign In" />
#{/form}


